@keyframes zoomInOut {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.4);
  }
  25%, 75% {
    transform: scale(1.2);
  }
}

.background-image {
  position: absolute;
  inset: 0;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  animation: zoomInOut 20s ease-in-out infinite;
  transform-origin: center center;
  opacity: 1;
  transition: opacity 1.5s ease-in-out; /* Duración del fundido */

  /* Optimización clave para Safari en iOS */
  will-change: opacity, transform;
}

.background-image.fade-out {
  opacity: 0;
}

@keyframes columnImageChange {
  0%,
  100% {
    background-image: url('/assets/images/logos/cacao.png');
  }
  50% {
    background-image: url('/assets/images/logos/cafe.png');
  }
}
.animate-column-image {
  animation: columnImageChange 8s ease-in-out infinite;
}
